ul,
li {
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
}

.MovieDetail {
  display: grid;
  grid-template-areas:
    "title title title"
    "info info info"
    "tagline cast poster"
    "advisory cast poster";
  grid-template-columns: 30% 30% 40%;
  justify-content: center;
  column-gap: 2rem;
  width: 100%;
}

.movie-title {
  grid-area: title;
  font-size: 4em;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 100%;
}

.movie-info-block {
    grid-area: info;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto auto 2rem auto;
}

.movie-rating {
    border: solid white 1px;
    margin: auto 1rem auto auto;
}

.movie-release {
    display: flex;
    margin: auto 1rem;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.movie-length {
    margin: auto auto auto 1rem;
}

.movie-tagline {
    grid-area: tagline;
    margin: 1rem 1rem 1rem auto;
    width: 75%;
    text-align: left;
}

.movie-overview {
    grid-area: overview;
    margin: 0 1rem 0 auto;
    width: 75%;
    text-align: left;
}

.movie-cast {
  grid-area: cast;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  min-width: 300px;
  border: solid white;
  margin: 5% 10%;
}

.movie-poster {
  grid-area: poster;
  align-content: center;
  border: 10px solid black;
}

img {
  max-height: 600px;
  max-width: 80%;
}

.cast-title {
  margin: 0 0 1.5rem 0;
  border-bottom: solid white;
  font-size: 3rem;
  font-family: 'Limelight', cursive;
}

@media only screen and (max-width: 600px) {
  .MovieDetail {
    display: grid;
    grid-template-areas:
      "title"
      "release"
      "cast"
      "poster";
    justify-content: center;
    width: 100%;
  }

  .movie-poster {
    grid-area: poster;
    align-content: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    border: 10px solid black;
  }
}

.actor-names > a {
    font-size: 2rem;
}

.actor-names > p {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 0;
}

.actor-names > a:hover {
    color: goldenrod;
    transition: linear 150ms;
}